* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Snell Roundhand';
  font-weight: normal;
  font-style: italic;
  padding: 0.3em;
}

p {
  padding: 0.5em;
}

.header {
  display: flex;
  justify-content: center;
  font-family: 'Snell Roundhand';
  font-weight: normal;
  font-size: 3.5em;
  margin-top: 0;
}

.section {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

.section__box1 {
  border-right: 1px solid black;
  flex: 1;
}
.section__box2 {
  border-right: 1px solid black;
  flex: 2;
}
.section__box3 {
  flex: 1;
}

.section__bottom {
  border: 2px solid black;
}

.section__bottom {
  display: flex;
}

.section__bottom__box1 {
  align-items: center;
  border-right: 1px solid black;
  width: 25%;
}

.section__bottom__box2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0em;
  margin: 0;
  width: 75%;
}

.section__bottom__box2__title__politics {
  background-color: bisque;
}
.section__bottom__box2__title__tech {
  background-color: lightblue;
}
.section__bottom__box2__title__local {
  background-color: lightgreen;
}
.section__bottom__box2__title__opinion {
  background-color: #74b9ff;
}
.section__bottom__box2__title__sports {
  background-color: violet;
}

.site__section {
  display: flex;
  align-items: center;
  flex: 1;
}

.section__bottom__box2__link {
  text-decoration: none;
  font-size: 2em;
  padding-left: 1em;
  font-weight: 500;
}

.section__box2__puppy__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
